.proteinEntry {
    text-align: left;
    padding: 7px;
    border: 1px solid #d1d3de   
}

.proteinEntry:hover {
    background-color: #d1d3de;
}

.selectedProtein {
    background-color: #d1d3de;
}

.listHolder {
    overflow-y: auto;
    overflow-x: hidden;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: span 3;
}