html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100%;
}

.file-upload-item {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 100%;
}

.individual-protein-item {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}
