.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid-container {
  display: grid;
}

.file-upload-item {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.protein-list-item {
  grid-column: 1 / 1;
  grid-row: 2 / 4;
}

.empty-grid-item {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
